
.internship-content {
  display: flex;
  flex-direction: column;
}

.internship-content-js{
    height:50vh;
    margin-bottom: -10rem;

}
.internship-content-header h1 {
  text-align: center;
  font-size: var(--font-size-title-small);
}

.internship-content-body {
  align-self: center ;
  max-width: 60vw;
  margin-top: 5rem;
  margin-bottom: 4rem;
  /* margin-left: 15rem;
  margin-right: 15rem; */
}
.Swiper-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.Swiper-container h1{
    font-size: x-large;
    margin-bottom:2rem;
}
.Swiper-container img {
  flex: 1;
  max-height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Swiper-container-content {
  padding-top: 2rem;
  order: 2;
  flex: 1;
  text-align: center;
  height: auto;
}
