@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Montserrat:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Roboto:wght@100&display=swap");
:root {
  --font-family: "Montserrat", sans-serif;
  --font-family-p: "Arimo", sans-serif;
  --font-size-title-big: 62px;
  --line-spacing-title-big: 75px;
  --font-size-title-medium: 48px;
  --line-spacing-title-medium: 60px;
  --font-size-title-small: 36px;
  --font-size-p-medium: 16px;
  --line-spacing-p-medium: 24px;
  --font-size-p-small: 14px;
  --line-spacing-p-small: 24px;
}

* {
  margin: 0;
  padding: 0;
}
